.env
Homestead.json
Homestead.yaml

/.idea
/vendor
/_ide_helper.php

/storage/*.key
/storage/files
/storage/images/avatars/*.*
/storage/framework/testing/disks/images/avatars/*.*

/public/hot
/node_modules
/public/storage
/public/antvel-bower
