.env
Homestead.json
Homestead.yaml

/.idea
/vendor
/_ide_helper.php

/storage/*.key
/storage/files
/storage/files/img/profile
/storage/files/key_code/*.*
/storage/files/files_downloadable/*.*

/public/hot
/node_modules
/public/storage
/public/antvel-bower
